{% extends "base.html" %}

{% block body_class %}wide{% endblock %}

{% block extra %}
  <div class="extra text-right mb-3">
    <a href="https://status.libreops.cc/" type="button" class="btn btn-secondary btn-sm" target="_blank">
      <i class="fa fa-area-chart" aria-hidden="true"></i>
      uptime
    </a>
  </div>
{% endblock %}

{% block content %}

  <div class="services">

    <!-- LibreDNS -->
    <div class="card">
      <div class="card-header">
        <h5>
          DNS - encrypted
          <img class="service-img" src="/static/img/libredns.png" alt="LibreDNS">
        </h5>
      </div>
      <div class="card-body">
        <p class="my-2">
          A public encrypted DNS service, that people can use to maintain secrecy of
          their DNS traffic, but also circumvent censorship. It already support
          DNS over HTTPS and DNS over TLS.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://libredns.gr/" target="_blank" class="btn btn-outline-dark card-link">libredns.gr</a>
      </div>
    </div>

    <!-- RadicalDNS -->
    <div class="card">
      <div class="card-header">
        <h5>
          DNS - legacy
          <img class="service-img" src="/static/img/radicaldns.svg" alt="radicalDNS">
        </h5>
      </div>
      <div class="card-body">
        <p class="my-2">
          A public DNS service, that people can use to maintain secrecy of
          their DNS traffic, but also circumvent censorship. Based on the regular DNS
          protocol and filtering ads and trackers, ideal for legacy devices.
        </p>
      </div>
      <div class="card-footer">
        <a href="/radicaldns.html" target="_blank" class="btn btn-outline-dark card-link">radicalDNS</a>
      </div>
    </div>

    <!-- Etherpad -->
    <div class="card">
      <div class="card-header">
        <h5>
          Etherpad
          <img class="service-img" src="/static/img/etherpad.png" alt="Etherpad">
        </h5>
      </div>
      <div class="card-body">
        <p class="my-2">
          Etherpad is a highly customizable Open Source online editor providing collaborative editing
          in really real-time. We host our own etherpad instance to be used by teams and projects that
          live in our space.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://pad.libreops.cc" target="_blank" class="btn btn-outline-dark card-link">pad.libreops.cc</a>
      </div>
    </div>

    <!-- Jabber -->
    <div class="card">
      <div class="card-header">
        <h5>
          Jabber
          <img class="service-img" src="/static/img/jabber.png" alt="Jabber">
        </h5>
      </div>
      <div class="card-body">
        <p class="my-2">
          Jabber (or xmpp) is an open realtime communication protocol, that many people use to chat.
          Our instance, gnu.gr, was created with users privacy in mind and it's open for everyone to use.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://gnu.gr/" target="_blank" class="btn btn-outline-dark card-link">gnu.gr</a>
      </div>
    </div>

    <!-- Lists -->
    <div class="card">
      <div class="card-header">
        <h5>
          Mailing Lists
          <img class="service-img" src="/static/img/mailman.jpg" alt="Mailing Lists">
        </h5>
      </div>
      <div class="card-body">
        <p class="my-2">
          The purpose of this service is to offer mailing list service to communities
          (projects, collectives, etc) that don't have the resources or the expertise
          to setup their own.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://diskuti.gr/" target="_blank" class="btn btn-outline-dark card-link">diskuti.gr</a>
      </div>
    </div>

    <!-- Mastodon -->
    <div class="card">
      <div class="card-header">
        <h5>
          Mastodon
          <img class="service-img" src="/static/img/mastodon.svg" alt="Mastodon">
        </h5>
      </div>
      <div class="card-body">
        <p class="my-2">
          Mastodon is a distributed, federated social network that forms part of the
          Fediverse, an interconnected and decentralized network of independently
          operated servers. Our instance, libretooth.gr, is just a part of this fediverse.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://libretooth.gr/" target="_blank" class="btn btn-outline-dark card-link">libretooth.gr</a>
      </div>
    </div>

    <!-- Meet -->
    <div class="card">
      <div class="card-header">
        <h5>
          Meet
          <img class="service-img" src="/static/img/meet.svg" alt="Meet">
        </h5>
      </div>
      <div class="card-body">
        <p class="my-2">
          (Jitsi) Meet is an open source application that provides high quality, scalable video conferences.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://meet.libreops.cc/" target="_blank" class="btn btn-outline-dark card-link">meet.libreops.cc</a>
      </div>
    </div>

    <!-- Mumble -->
    <div class="card">
      <div class="card-header">
        <h5>
          Mumble
          <img class="service-img" src="/static/img/mumble.png" alt="Mumble">
        </h5>
      </div>
      <div class="card-body">
        <p class="my-2">
          Mumble is an open source, low-latency, high quality voice chat software. It can be used
          by projects and communities to hold audio conferences.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://libreops.cc/mumble.html" target="_blank" class="btn btn-outline-dark card-link">mumble.libreops.cc</a>
      </div>
    </div>

    <!-- Tor -->
    <div class="card">
      <div class="card-header">
        <h5>
          Tor Relays
          <img class="service-img" src="/static/img/tor.png" alt="Tor">
        </h5>
      </div>
      <div class="card-body">
        <p class="my-2">
          Tor is an open network that helps you defend against traffic analysis,
          a form of network surveillance that threatens personal freedom and privacy.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://libreops.cc/tor.html" target="_blank" class="btn btn-outline-dark card-link">libreonion</a>
      </div>
    </div>

  </div>
{% endblock %}
