{% extends "base.html" %}

{% block title %} &bull; Mumble{% endblock title %}

{% block logo %}<img src="/static/img/mumble.png" alt="Mumble" class="avatar">{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
  <div class="card w-75 mx-auto">
    <div class="card-header">
      <span data-l10n-id="mumble-about-title">about</span>
      <div class="pull-right">
        <span id="lang-selection"><span class="fa fa-language pr-2"></span>
        <select onchange="currentLang=this.value;document.webL10n.setLanguage(this.value || this.options[this.selectedIndex].text);" autocomplete="off">
          <option id="lang-en" selected value="en">en</option>
          <option id="lang-el" value="el">el</option>
        </select>
      </div>
    </div>
    <div class="card-body" data-l10n-id="mumble-about-text">
      <p>
        <a href="https://www.mumble.info/" target="_blank">Mumble</a> is an open source, low-latency,
        high quality voice chat software intended for audio conferences.
      </p>
      <p>
        Our instance runs at <code>mumble.libreops.cc</code> at the default port <code>64738</code>.
      </p>
      <p>
        You can freely use the Discuss room.
        We could happily create a new room for communities (projects, collectives, etc).
        For any inquire about this service you can send us an email.
      </p>
      <p>
        <i class="fa fa-envelope-o mr-1" aria-hidden="true"></i><img src="https://libreops.cc/static/img/email.svg">
      </p>
      <p>
        If you want to support us, you can <a href="https://opencollective.com/libreops/" target="_blank">donate</a>.
      </p>
    </div>
  </div>

  <div class="card mt-4 w-75 mx-auto">
    <div class="card-header">
      documentation
    </div>
    <div class="card-body">
      <div data-l10n-id="mumble-docs-text">
        <p>
          On <a href="https://wiki.mumble.info/wiki/Main_Page#Download_Mumble" target="_blank">Mumble's website</a> you can find a version for any operating system. We cover Android documentation here,
          since it's probably the easiest app to use.
        </p>

        <strong>Android</strong><br>

        <ol>
          <li>Download the from <a href="https://f-droid.org/packages/com.morlunk.mumbleclient/" target="_blank">F-droid</a> or <a href="https://play.google.com/store/apps/details?id=com.morlunk.mumbleclient.free" target="_blank">Google Play</a></li>
          <li><strong>Settings > Audio > Transmit Mode</strong>, choose how you want your mic to work. Preferably you should switch to "Push to Talk".</li>
          <li>Press the "Add" (+) and enter server details. Address: mumble.libreops.cc. You can leave the Port empty to use the default (64738) and pick your desired username. Finally press ADD.</li>
          <li>To connect just tap on the libreops bookmark you just created.</li>
          <li>Once connected you can press the arrow button to join the room you want.</li>
        </ol>

        <p>
          For all future occasions you'll open the app you only have to follow steps 4 and 5. If you didn't chose "Push to Talk" make sure to mute yourself when no talking.
        </p>

        <p>
          Below you can see some helpful screenshots.
        </p>
      </div>

      <strong>Screenshots</strong>

      <div class="row mt-2">
        <div class="col-sm-6 mb-2">
          <img class="img-fluid" src="/static/img/mumble/Mumble_audio_settings.png" alt="mumble audio settings">
        </div>
        <div class="col-sm-6 mb-2">
          <img class="img-fluid" src="/static/img/mumble/Mumble_add_server.png" alt="mumble add server">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 mb-2">
          <img class="img-fluid" src="/static/img/mumble/Mumble_server.png" alt="mumble connect">
        </div>
        <div class="col-sm-6 mb-2">
          <img class="img-fluid" src="/static/img/mumble/Mumble_channel.png" alt="mumble channel">
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-4 w-75 mx-auto">
    <div class="card-header">
      resources
    </div>
    <div class="card-body">
      <ul>
        <li><a href="https://f-droid.org/packages/com.morlunk.mumbleclient/" target="_blank">Android app</a></li>
        <li><a href="https://wiki.mumble.info/wiki/Main_Page" target="_blank">Mumble wiki</a></li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block footer_class %}w-75{% endblock %}

{% block footer %}
  <i class="fa fa-power-off" aria-hidden="true"></i> powered by <a href="https://libreops.cc" target="_blank">LibreOps</a>
{% endblock %}
