<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ sitename }}{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/feed.xml" rel="alternate" type="application/rss+xml" title="{{ sitename }}">
    <meta property="og:site_name" content="{{ sitename }}">
    {% block meta %}
      <meta property="og:title" content="{{ sitename }}">
      <meta property="og:type" content="website">
      <meta property="og:url" content="{{ rooturl }}{{ link }}">
    {% endblock %}
    <meta property="og:image" content="{{ rooturl }}static/img/{{ logo }}">
    <link rel="stylesheet" href="/static/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/fork-awesome/css/fork-awesome.min.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="prefetch" type="application/l10n" href="static/locales.ini">
    {% block css %}{% endblock %}
    <link rel="shortcut icon" href="/favicon.ico">
  </head>

  <body class="{% block body_class %}{% endblock %}">
    <div class="page">

      <div class="container">
        <header class="py-3 text-center">
          {% block logo %}
            <a href="/"><img src="/static/img/{{ logo }}" alt="{{ sitename }}" class="avatar"></a>
          {% endblock %}
        </header>

        {% block nav %}
          <div class="d-flex flex-column flex-md-row align-items-center justify-content-center p-1 px-sm-4 mb-3 bg-white border-bottom shadow-sm">
            <nav class="my-2 my-md-0">
              <a class="p-2 text-dark" href="/about/">About</a>
              <a class="p-2 text-dark" href="/">Services</a>
              <a class="p-2 text-dark" href="/projects/">Projects</a>
              <a class="p-2 text-dark" href="/blog/">Updates</a>
              <a class="p-2 text-dark" href="/contact/">Contact</a>
            </nav>
          </div>
        {% endblock %}
      </div>

      <div class="container mt-4">
        {% block extra %}{% endblock %}
        {% block content %}{% endblock content %}
      </div>

    </div>

    <div class="container">
      <footer class="p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm {% block footer_class %}{% endblock %}">
        {% block footer %}
          <a href="https://riot.im/app/#/room/#libreops:matrix.org" class="mx-1" target="_blank" data-toggle="tooltip" title="Chat">
            <i class="fa fa-comments" aria-hidden="true"></i>
          </a>
          <a href="https://opencollective.com/libreops/" class="mx-1" target="_blank" data-toggle="tooltip" title="Donate">
            <i class="fa fa-eur" aria-hidden="true"></i>
          </a>
          <a href="https://status.libreops.cc/" class="mx-1" target="_blank" data-toggle="tooltip" title="Services Status">
            <i class="fa fa-area-chart" aria-hidden="true"></i>
          </a>
          &bull;
          <a href="https://gitlab.com/libreops/" class="mx-1" target="_blank" data-toggle="tooltip" title="Gitlab">
            <i class="fa fa-gitlab" aria-hidden="true"></i>
          </a>
          <a href="https://github.com/libreops/" class="mx-1" target="_blank" data-toggle="tooltip" title="Github">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
          &bull;
          <a href="/feed.xml" class="mx-1" data-toggle="tooltip" title="Feed">
            <i class="fa fa-rss" aria-hidden="true"></i>
          </a>
          <a href="https://libretooth.gr/@libreops" class="mx-1" data-toggle="tooltip" title="Mastodon">
            <i class="fa fa-mastodon" aria-hidden="true"></i>
          </a>
          <a href="https://twitter.com/libreops" class="mx-1" data-toggle="tooltip" title="Twitter">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        {% endblock %}
      </footer>
    </div>

    <script src="/static/lib/jquery/dist/jquery.min.js"></script>
    <script src="/static/lib/popper.js/dist/umd/popper.min.js"></script>
    <script src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/lib/webl10n/l10n.js"></script>
    <script src="/static/js/app.js"></script>
    {% block javascript %}
    {% endblock javascript %}
  </body>
</html>
